body {
    background-color: #d0dec2;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
input[type="text"]{
	-webkit-appearance: none;
    -webkit-border-radius: 0;
    font-family: inherit;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.75);
    font-size: 1.2rem;
    margin: 1rem 0 1rem 0;
    padding: 0.5rem;
    height: 3.3rem;
    width: 100%;
	max-width: 35rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: box-shadow 0.45s,border-color 0.45s ease-in-out;
    text-align: center;
	font-weight:400;
}
button, .button {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-width: 0;
    cursor: pointer;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    padding: 1rem 2rem 1.0625rem 2rem;
    font-size: 1rem;
    background-color: #008CBA;
    color: #FFFFFF;
}
#wrapper {
	text-align: center;
}
a {
    color: #e26aa6;
}